*.pyc
*.bak
*.zip
*.rar
*.7z
*.mp3
*.wav
*.sublime-workspace
.hg/
build/
*.hgignore
*.hgtags
*dist/
*.egg-info/
traceback.log
__pycache__/
gofiledm/
obj/
bin/
*.jpg
CursorMon.icon_1.ico
CursorMon.icon.jpg
CursorMon.icon.png
*removebg*
